.mt-2 {margin-top: -2px;}
.mt-5 {margin-top: -5px;}
.mt-1 {margin-top: -1px;}
.mt-10 {margin-top: -10px;}
.mt-37 {margin-top: -37px;}
.mt-40 {margin-top: -40px;}
.mt-42 {margin-top: -42px;}
.mt2 {margin-top: 2px;}
.mt5 {margin-top: 5px;}
.mt6 {margin-top: 6px;}
.mt8 {margin-top: 8px;}
.mt10 {margin-top: 10px;}
.mt12 {margin-top: 12px;}
.mt13 {margin-top: 13px;}
.mt14 {margin-top: 14px;}
.mt16 {margin-top: 16px;}
.mt18 {margin-top: 18px;}
.mt20 {margin-top: 20px;}
.mt21 {margin-top: 21px;}
.mt22 {margin-top: 22px;}
.mt24 {margin-top: 24px;}
.mt27 {margin-top: 27px;}
.mt29 {margin-top: 29px;}
.mt30 {margin-top: 30px;}
.mt33 {margin-top: 33px;}
.mt35 {margin-top: 35px;}
.mt37 {margin-top: 37px;}
.mt38 {margin-top: 38px;}
.mt40 {margin-top: 40px;}
.mt41 {margin-top: 41px;}
.mt42 {margin-top: 42px;}
.mt43 {margin-top: 43px;}
.mt44 {margin-top: 44px;}
.mt48 {margin-top: 48px;}
.mt55 {margin-top: 55px;}
.mt100 {margin-top: 100px;}
.mt172{margin-top: 172px;}

.w87{width: 87px;}
.w266{width: 266px;}
.w260{width: 260px;}
.w286{width: 286px;}
.w192{width: 192px;}
.w196{width: 196px;}
.w150{width: 150px;}
.w225{width: 225px;}
.w230{width: 230px;}
.w296{width: 296px;}

.mr126{margin-right: 126px;}
.mr74{margin-right: 74px;}
.mr20{margin-right: 20px;}

.h34{height: 34;}
