body {
    background: url('../img/watermark.svg'), white;
    background-repeat: no-repeat;
    background-position: top 30px left 30px;
}

.uikit-container {
    display: flex;
    justify-content: center;
    min-width: 320px;     
    margin: 0 auto;
  
    .col-2x {
        width: 50%;
        min-width: 320px;
        align-self: flex-start;
        justify-content: flex-start;
        // border: 1px solid red;
        // letter-spacing: -0.2px;
        .type-list {
            .type-list__item:last-child {
                letter-spacing: 0px;
            }
        }

    }
}

@media screen and (max-width: 710px) {
    .uikit-container {
        flex-direction: column; 
        .col-2x {
            width: auto;
            justify-content: flex-start;
            
        }
    }
}