extends ../../layouts/uikit-layout/uikit-layout.pug
include ../../blocks/form-group/form-group

block variables
  - let title = "Headers & Footers";
    
block content
  - let curreuntPage = "О нас"
    include ../../blocks/header/header
  .mt40
  - var userName = "Юлий Цезарь"
    include ../../blocks/header/header
  .mt40
    include ../../blocks/footer/footer
  - var mobile = true;
    include ../../blocks/footer/footer