.formelements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1160px;
    margin: 3px auto;
    box-sizing: border-box;
}

.col-3x {
    flex: 1 0 auto; 
    width: 320px;
    margin-bottom: 100px;
}

.col-3x-2x {
    flex: 1 0 auto; 
    max-width: 710px;
    min-width: 320px;
    margin-bottom: 100px;
}



