.register-main {
    height: 830px;
    width: 100%;    
    background: url('../img/slider_image_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 20px;
    justify-content: center;
    box-sizing: border-box;
}